<p id="notice"><%= notice %></p>

<h1>Listing Populations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @populations.each do |population| %>
      <tr>
        <td><%= population.name %></td>
        <td><%= population.email %></td>
        <td><%= population.id %></td>
        <td><%= link_to 'Show', population %></td>
        <td><%= link_to 'Edit', edit_population_path(population) %></td>
        <td><%= link_to 'Destroy', population, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Population', new_population_path %>
