<p id="notice"><%= notice %></p>

<h1><center>Listing Populations</center></h1>
<%= render "layouts/navigation" %>

<div class="center">
  <%= form_tag(populations_path, method: :get) do %>
    <%= text_field_tag :term, params[:term] %>
    <%= submit_tag 'Search', name: nil %>
  <% end %>
</div>

<div class="container demo">
  <table class="datatable table table-striped table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Unique Number</th>
      </tr>
    </thead>
    <tbody>
      <tr class="gradeX">
        <% @population.each do |population| %>
          <tr>
            <td><%= population.name %></td>
            <td><%= population.email %></td>
            <td><%= population.id %></td>
            <td><%= link_to 'Show', population %></td>
            <td><%= link_to 'Edit', edit_population_path(population) %></td>
            <td><%= link_to 'Destroy', population, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tr>
    </tbody>
  </table>
  <%# will_paginate @population %>
</div>